
.credits-wrapper {
    max-width: var(--wide-width);
    margin: 0 auto;
    text-align: right;
    padding: 0.2em 1em;
}

.credits-wrapper a {
    font: normal 700 16px 'Signika', sans-serif;
    color: var(--light-grey);
}

.menu-item {
    font: normal 700 1em 'Signika', sans-serif;
    color: #FFF;
}

.top-wrapper{
    display: grid;
        grid-template-areas:
        '. hd hd .'
        '. h1 h1 .'
        '. pic pic .';
    grid-template-columns: 1fr minmax(auto, 840px) minmax(auto, 280px) 1fr;
} 

.home .top-wrapper{

    background: url(../img/main-blog-image.jpg) center center no-repeat;
    background-size: cover;
}

.blog-post .top-wrapper {
    background: linear-gradient(180deg, var(--strong-orange) 0%, var(--light-orange) 100%);
    color: #FFF;
}


.page-header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    padding-bottom: 1em;
    align-items: flex-end;
    padding: 1em 0.5em 0.8em 0.5em;
    margin-bottom: 90px;
}

.main-menu .menu-item {
    margin: 0 0 0.5em 2em;
}

h1.home-title {
    grid-area: h1;
    text-align: center;
    color: #FFF;
    padding: 25%;
}

.blog-title-wrapper {
    grid-area: 2/2/3/3;
    padding-right: 25%;
}

.ingredients-wrapper {
    grid-area: 2/3/3/4;
}

.ingredients-wrapper p {
    margin-bottom: 0.4em;
}

.main-image {
    grid-area: pic;
    margin-bottom: -6em;
    /*
    padding: 30% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.blog-title-wrapper .subtitle,
.ingredients-wrapper .subtitle{
    color: rgba(0,0,0,0.5);
}

.blog-title-wrapper .subtitle {
    font-size: 30px;
}

.ingredients-wrapper .subtitle{
    margin-bottom: 0.5em;
}
