
.credits-wrapper {
    max-width: var(--wide-width);
    margin: 0 auto;
    text-align: right;
    padding: 0 1em 0.2em 1em;
}

.credits-wrapper a {
    font: normal 700 0.8em 'Signika', sans-serif;
    color: var(--light-grey);
} 

.home .top-wrapper{
    background: url(../img/main-blog-image.jpg) center center no-repeat;
    background-size: cover;
    height: 80vh;
    align-items: flex-start;
}

.blog-post .top-wrapper {
    background: linear-gradient(180deg, var(--strong-orange) 0%, var(--light-orange) 100%);
    color: #FFF;
}

.regular-page .top-wrapper {
    background: linear-gradient(180deg, var(--strong-green) 0%, var(--light-green) 100%);
    color: #FFF;
}

.main-logo img{
    width: 7.6em;
}

.page-header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    padding-bottom: 1em;
    align-items: center;
    padding: 1em 0.5em 0.8em 0.5em;
    margin-bottom: 90px;
}

.main-menu {
    padding-top: 1.5em;
}

.main-menu a {
    margin: 0 0 0.5em 2em;
    font: normal 700 1em 'Signika', sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

h1.home-title {
    grid-area: h1;
    text-align: center;
    color: #FFF;
    padding: 0 5%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.blog-title-wrapper {
    padding: 0 2em;
    text-align: center;
}

.text-header-wrapper,
.ingredients-wrapper {
    padding: 0 1em 4em 1em;
    min-height: 10em;
}

.text-header-wrapper p,
.ingredients-wrapper p {
    margin-bottom: 0.4em;
}

.text-header-wrapper p{
    font-weight: 700;
}

.main-image {
    grid-area: pic;
    margin: 0 1em;
}

.main-image img {
    margin-bottom: -6em;
}

.text-header-wrapper .subtitle,
.blog-title-wrapper .subtitle,
.ingredients-wrapper .subtitle{
    color: rgba(0,0,0,0.5);
}

.blog-title-wrapper .subtitle {
    font-size: 1.5em;
}

.ingredients-wrapper .subtitle{
    margin-bottom: 0.5em;
}



.text-header-wrapper em {
    color: #000;
    font-style: normal;
    font-weight: 700;
}

.tags-wrapper a {
    color: #000;
    text-decoration: underline;
}



@media only screen and (min-width: 600px){

    .page-header {
        flex-direction: row;
        align-items: flex-end;
    }

}

@media only screen and (min-width: 750px){

    .top-wrapper{
        display: grid;
            grid-template-areas:
            '. hd hd .'
            '. h1 h1 .'
            '. pic pic .';
        grid-template-columns: 1fr minmax(auto, 840px) minmax(auto, 280px) 1fr;
    }

    .blog-title-wrapper {
        grid-area: 2/2/3/3;
        padding: 0 25% 0 1em;
        text-align: left;
    }

    h1.home-title {
        padding: 0 25%;
    }

    .text-header-wrapper,
    .ingredients-wrapper {
        grid-area: 2/3/3/4;
        padding: 0 0 4em 0;
    }

}
@media only screen and (min-width: 1120px){
    .main-image {
        margin: 0;
    }

    .blog-title-wrapper {
        padding-left: 0;
    }

}
