/* · Mandatory imports */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,700|Signika:700&display=swap);
@import url(reset.css);
@import url(header.css);
@import url(footer.css);


body{
    font: normal 300 17px/1.4em 'Lato', sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --strong-orange: rgba(245,129,53,1);
    --light-orange: rgba(241,171,47,1);
    --light-orange-30: rgba(247,226,190,1);
    --light-orange-15: rgba(241,171,47,0.15);
    --light-orange-10: rgba(241,171,47,0.1);
    --strong-green: rgba(0,163,84,1);
    --light-green: rgba(141,182,61,1);
    --light-grey: rgba(150,150,150,1);
    --regular-width: 735px;
    --wide-width: 1120px;
}

.wide-wrapper,
.regular-wrapper{
    margin: 0 auto;
    max-width: var(--regular-width);
}

.wide-wrapper{
    max-width: var(--wide-width);
}

h1,
h2,
h3,
h4{
   font: normal 700 4em 'Signika', sans-serif;
}

h1{
    margin-bottom: 1em;
}

h2{
    font-size: 2.8em;
    margin-bottom: 1em;
}

h3{
    font-size: 1.7em;
}

h4{
    font-size: 1.2em;
}

p {
    margin-bottom: 1.5em;
}


img {
    max-width: 100%;
    height: auto;
}



small {
    font-size: 0.8em;
}

cite {
    font-style: normal;
    font-size: 2em;
    margin: 1.5em;
    color: var(--light-green);
    text-align: center;
    display: block;
    line-height: 120%;
}

/* intro-tezxt*/

.intro-text {
    max-width: var(--regular-width);
    padding: 0 1em;
    margin: 3em auto;
}

.intro-text h3{
    color: var(--light-green);
    margin-bottom: 0.5em;
}

.intro-text a{
    color: var(--strong-orange);
    text-decoration: underline;
}

/* BLOG LIST */

.articles-list-background{
    background: var(--light-orange-15);
}

.articles-list-wrapper{
    margin: 8em auto 0 auto;
    padding: 5em 1em;
    max-width: var(--wide-width);
}

.article-list-item {
    display: grid;
    grid-template-columns: 35% 50% 15%;
    grid-template-rows: 3fr 1fr 2fr;
    flex: 0 0 45%;
    margin-bottom: 4em;
}

.article-list-image {
    grid-area: 1 / 1 / 3 / 3;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-list-link {
    background: #FFF;
    grid-area: 2 / 2 / 4 / 4;
    padding: 1em;
    color: var(--light-grey);
}

.article-list-item h3 {
    color: var(--strong-orange);
}

/* HIGHLIGHT LATEST ENTRY*/
    .article-list-item:first-child {
        margin-top: -8em;
}


.article-list-item:first-child .article-list-link{
    background: var(--strong-orange);
    color: rgba(0,0,0,0.8);
    padding-bottom: 3em;
}

.article-list-item:first-child h3 {
    color: #FFF;
}

.article-list-item:nth-child(4n + 1) .article-list-image{
    background-image: url(../img/recipes/chicken_peas.jpg);
}

.article-list-item:nth-child(2) .article-list-image{
    background-image: url(../img/recipes/asperagus10.jpg);
}

.article-list-item:nth-child(3) .article-list-image{
    background-image: url(../img/recipes/brandy_chicken13.jpg);
}

.article-list-item:nth-child(4) .article-list-image{
    background-image: url(../img/recipes/pork_marbella4.jpg);
}


/* BLOG POST */

.has-main-picture .main-content {
    padding-top: 6em;
}

.steps-background {
    background: rgba(150,150,150,0.2);
    padding: 3em 0 0 0;
}

.steps-background h2 {
    text-align: center;
    color: var(--light-orange);
}

.steps-wrapper {
    margin: 0 auto;
    list-style: none;
    counter-reset: steps-counter;
    padding-bottom: 4em;
}

.steps-wrapper li {
    flex: 0 0 calc(50% - 0.5em);
    background: #FFF;
    counter-increment: steps-counter;
    display: flex;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 0.9em;
}

.steps-wrapper li::before {
  content: counter(steps-counter);
    font: normal 700 56px 'Signika', sans-serif;
    color: var(--light-green);
    margin-right: 0.5em;
}

.gallery-steps {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}


.gallery-steps figcaption {
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--light-grey);
    padding: 0.5em 0 0 0;
}

/* Share */

.share-post {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    color: var(--light-grey);
}

.share-post > * {
    margin-left: 1em;
}

.share-post a{
    width: 3em;
    height: 3em;
    background: var(--strong-orange) url(../img/ico_facebook.svg) center center no-repeat;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
}

.share-post a[href*=facebook]{
    background-image: url(../img/ico_facebook.svg);
}

.share-post a[href*=twitter]{
    background-image: url(../img/ico_twitter.svg);
}

.share-post a[href*=linkedin]{
    background-image: url(../img/ico_lkd.svg);
}

/* post metas */

.post-meta-wrapper{
    display: flex;
    padding-left: calc(50vw - (var(--wide-width)/2));
    background: var(--light-orange-10);
    flex-wrap: wrap;
}

.post-tags,
.post-date {
    color: var(--light-grey);
    padding: 2em 1em;
    flex: 0 0 50%
}

.post-author {
    padding-right: calc(50vw - (var(--wide-width)/2));
    padding-top: 2.5em;
    padding-left: 2em;
    background: var(--light-orange);
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.post-tags a {
    color: var(--strong-orange);
    font-size: 0.8em;
    line-height: 1em;
    text-decoration: underline;
}

.post-author a{
    color: #000;
    text-decoration: underline;
}

.post-meta-wrapper .subtitle{
    font-size: 1.2em;
}

.date-tag,
.author-intro {
    line-height: 100%;
}

.post-author h4,
.post-author .subtitle{
    color: #FFF;
}

.author-image{
    width: 5.9em;
    height: 5.9em;
    background: red;
    border-radius:  50%;
    flex: 0 0 5.9em;
    background: url(../img/foto_mini_xavier.jpg) center center no-repeat;
    background-size: cover;
}

.author-info-wrapper{
    padding-left: 1.5em;
}

/* post navigation */

.posts-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 1em;
}

.posts-navigation a{
    font: normal 700 24px 'Signika', sans-serif;
    display: inline-block;
    background: var(--strong-orange);
    color: #FFF;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin: 0.2em 0.4em;
}


@media only screen and (min-width: 750px){

    body{
        font-size: 18px;
    }

    /* blog list */
    .articles-list-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* HIGHLIGHT LATEST ENTRY*/
    .article-list-item:first-child {
        flex: 0 0 100%;
        grid-template-columns: 55% 30% 15%;
        grid-template-rows: 6fr 1fr 2fr;
    }

}


@media only screen and (min-width: 650px){

.steps-wrapper {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: var(--wide-width);
    }

}

@media only screen and (min-width: 750px){

    .post-tags,
    .post-date {
        padding: 2.5em 2em 1em 0;
        flex: 0 0 28%
    }

    .post-date {
        flex: 0 0 22%
    }

    .gallery-steps {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-steps figure{
        margin-bottom: -5em;
    }

    .share-post {
        padding: 10em 1em 1em 1em;
    }

}

@media only screen and (min-width: 1000px){

    body{
        font-size: 19px;
    }

}


@media only screen and (min-width: 1400px){

    body{
        font-size: 20px;
    }
}
